- var ver = new Date().getTime()
link(rel="stylesheet" type="text/css" href="font/material-icons.css?v=2.2.3")
link(rel="stylesheet" type="text/css" href="css/material.min.css?v=1.1.3")
link(rel="stylesheet" type="text/css" href="css/index.css?v=" + ver)
