include ../mixins/icon/material-icon
include ../mixins/buttons/mdl-button

ul#users.mdl-list.mdl-list__item--three-line
    li.mdl-list__item(v-for="x in users")
        span.mdl-list__item-primary-content
            +material-icon-avatar
            span.name {{ x.name }}
            span.mdl-list__item-text-body
                +material-icon('favorite_border')
                span {{ x.life.current }} / {{ x.life.max }}
                +material-icon('restaurant_menu')
                span {{ x.food.current }} / {{ x.food.max }}
        span.mdl-list__item-secondary-content
            +mdl-fab-button-mini('clear', 'removeUser(x.name)')
