#messages {
  min-height: 120px;
  >p {
    margin: 0;
    height: 20px;
    font-size: 10pt;
  }
  >.topMessage {
    .worldName {
      float: left;
      height: 20px;
    }
    >i {
      float: right;
    }
    text-align: right;
  }
}
