header.mdl-layout__header
    .mdl-layout__header-row
        h1.mdl-layout-title= "mbApp"
        .mdl-layout-spacer
        nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href="") Home
