#messages
    p.topMessage
        span.worldName {{ world.name }}
        template(v-if="direction.enable")
            span {{ topMessage }}
            span 方向:
            +material-icon('{{ direction.display }}')
    p.mainMessages(v-for="x in mainMessages", ':class'="x.em") {{ x.text }}
