#messages
    p.topMessage
        span {{ topMessage }}
        template(v-if="direction.enable")
            span 方向:
            +material-icon('{{ direction.display }}')
    p.mainMessages(v-for="x in mainMessages") {{ x.text }}
