#messages
    p.message1
        span {{ message1 }}
        template(v-if="direction.enable")
            span 方向:
            +material-icon('{{ direction.display }}')
    p.message2 {{ message2 }}
    p.message3 {{ message3 }}
    p.message4 {{ message4 }}
